.card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid #5b78c7;
    margin: 2px auto;
}
.card h1,
.card h3{
    margin-bottom: 0;
}
.card h3,
.card .comment{
    margin-top: 2px;
}

.card .comment{
    margin-left: 2rem;
}

.card .formula{
    display: flex;
    justify-content: space-between;
    margin-left: 1rem;
    border: 2px solid pink;
    color: blueviolet;
}

.card a{
    margin: 5px;
    border: 2px solid brown;
}